$white: #ffffff;
$off-white: #ede6e6;
$dark-off-white: #f3f3f3;
$black: #000000;
$pink: #fd337f;
$yellow: #eea800;
$green: #9ab710;
$blue: #1ba8f2;
$red: #c00355;
$purple: #7a41e9;
$sea-green: #00b19a;
$lighter-gray: #b1b1b1;
$light-gray: #e5e5e5;
$gray: #d4d4d4;
$dark-gray: #888888;
$darker-gray: #c4c4c4;

$colorList: $yellow, $green, $blue, $red, $purple, $pink, $sea-green;
