.formContainer {
  width: 25%;
  margin: 5% auto;
  margin-top: 0;
  .paper {
    display: flex;
    flex-flow: column;
    padding: 10% 15%;
    border-radius: 15px;
    h6 {
      line-height: 20px;
    }
    label {
      font-size: 14px;
    }
    input {
      width: 250px;
      font-size: 16px;
    }
  }
}
.loginHero {
  width: 100%;
  min-height: 10rem;
  background-color: white;
  background-position: bottom center;
  background-image: url('../static/goku_yo.png');
  background-size: cover;
}
.btnContainer {
  align-self: center;
  display: flex;
  flex-flow: row;
  margin: 5% auto;
  width: 100%;
  button {
    width: 140px;
    height: 35px;
    border-radius: 25px;
    margin: auto 2%;
    text-transform: capitalize;
    color: white;
  }
  .registerBtn {
    background-color: #6a6a6a;
  }
  .loginBtn {
    background-color: #00dc64;
  }
}
.resetPassword {
  h6 {
    color: #868686;
  }
  span {
    line-height: 20px;
    font-size: 12px;
    color: #bbb;
  }
}
