$sea-green: #00b19a;
$grey: #f3f3f3;
$white: #ffffff;
$off-white: #ede6e6;
$pink: #fd337f;
$yellow: #eea800;
$green: #9ab710;
$blue: #1ba8f2;
$red: #c00355;
$purple: #7a41e9;

$colorList: $yellow, $green, $blue, $red, $purple, $pink, $sea-green;

.contentBody {
  display: flex;
  flex-flow: column;
}
.hero {
  min-height: 18.5rem;
  background-color: $sea-green;
}
.content {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  background-color: $grey;
  padding: 1rem 15% 3rem 15%;
  .btmReadmoreBtn {
    width: 35px;
    min-width: 0;
    height: 35px;
    border-radius: 35px;
    padding: 0;
    background-color: $off-white;
  }
}
.genreTitle {
  display: flex;
  flex-flow: row;
  padding: 1rem 0;
  align-items: center;
  font-family: 'Roboto, sans-serif';
  img {
    transform: rotate(-90deg);
    margin: 0 1rem;
  }
}
.manga {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  a:hover {
    text-decoration: none;
  }
  .paper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 200px;
    margin: 0.5rem 0.5rem;
    p {
      text-align: left;
      padding: 0.5rem 0.5rem 0 1rem;
      font-size: 16px;
      font-weight: 400;
      line-height: 18px;
      color: $white;
    }
  }
}
.backCard {
  display: none;
}
.paper:hover {
  .frontCard {
    display: none;
  }
  .backCard {
    display: flex;
    flex-flow: column;
    width: 100%;
    height: 100%;
    justify-content: center;
    background-color: nth($colorList, random(6));
  }
}

.innerRating {
  display: flex;
  flex-flow: row;
  align-items: center;
  padding: 0.2rem 0 0 1rem;
  img {
    width: 13px;
    height: 11px;
  }
  h6 {
    font-size: 14px;
    line-height: 17px;
    color: $off-white;
  }
}
