$light-grey: #EDE6E6;

.header {
    display: flex;
    flex-flow: row;
    padding: 2rem 2rem 0 2rem;
}
.leftHeader {
    display: flex;
    flex-flow: row;
    width: 50%;
    align-items: center;
    a {
        color: black;
    }
    h5 {
        padding: 0rem 1rem;
    }
}
.rightHeader {
    display: flex;
    flex-flow: row;
    justify-content: flex-end;
    width: 50%;    
    button {
        border-radius: 25px;
        margin: 0 0.35rem;
        padding: 0 2rem;
        text-transform: capitalize;
        font-size: 1rem;
        font-family: 'Roboto, sans-serif';
    }
    .registerBtn {
        background-color: black;
        color: white;
    }
    .loginBtn {
        border-color: $light-grey;
    }
    .searchBtn {
        padding: 0;
        height: 45px;
        width: 45px;
        min-width: 0;
        border-color: $light-grey;
    }
    hr {
        width: 1.2px;
        height: 70%;
        align-self: center;
        margin: 0 0.2rem;
    }
}
.footer {
    display: flex;
    flex-flow: row;
}
.leftFooter {
    width: 33%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0 0 0 5rem;
    h5 {
        color: #C5C5C5;
        font-family: 'Roboto, sans-serif';
    }
}
.middleFooter {
    width: 33%;
    display: flex;
    justify-content: center;
    align-items: center;
    span {
        margin: 0 0.5rem;
        font-size: 18px;
        a {
            color: black;
        }
    }
    hr {
        height: 40%;
        align-self: center;
        margin: 0 0.2rem;
    }
}
.rightFooter {
    width: 33%;
    display: flex;
    flex-flow: row;
    justify-content: flex-end;
    padding: 0 5rem 0 0;
    button {
        padding: 0;
        border-radius: 45px;
        margin: 0 0.5rem;
        height: 45px;
        width: 45px;
        min-width: 0;
        border-color: $light-grey;
    }
}