<center>List of Available Mangas!</center>
<ol>
    <center>    <% list.forEach(function(manga){%>
            <form action="/mangas/<%=manga.name%>/" method="GET">
                <li><a href="/mangas/<%=manga.name%>/"><%= manga.title %></a></li>
            </form>
                <%})%>
                
    </center>
</ol>